.app-header {
  background-color: #0f0144;
  color: whitesmoke;
  font-weight: 600;
  height: 10vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  height: 60px;
  nav > *:not(:last-child) {
    margin-inline-end: 20px;
  }
  h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
